<%- include ("partials/header"); %>
<div class="container">
	<h4 >
	<%= camp.name %> 
</h4>
<img src=<%=camp.img %> class="img-fluid" alt="Responsive image">

<p>
	<%=camp.description %>
</p>

	
</div>





<%- include ("partials/footer"); %>